# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
@EXPLICIT
https://conda.anaconda.org/conda-forge/noarch/alembic-0.9.9-py_0.tar.bz2
https://repo.continuum.io/pkgs/main/win-64/certifi-2018.1.18-py36_0.tar.bz2
https://repo.continuum.io/pkgs/main/win-64/click-6.7-py36hec8c647_0.tar.bz2
https://repo.continuum.io/pkgs/main/win-64/flask-0.12.2-py36h98b5e8f_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/flask-migrate-2.1.1-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/flask-sqlalchemy-2.3.2-py_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/flask-wtf-0.14.2-py36_0.tar.bz2
https://repo.continuum.io/pkgs/main/win-64/itsdangerous-0.24-py36hb6c5a24_1.tar.bz2
https://repo.continuum.io/pkgs/main/win-64/jinja2-2.10-py36h292fed1_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/mako-1.0.7-py36_0.tar.bz2
https://repo.continuum.io/pkgs/main/win-64/markupsafe-1.0-py36h0e26971_1.tar.bz2
https://repo.continuum.io/pkgs/main/win-64/pip-9.0.3-py36_0.tar.bz2
https://repo.continuum.io/pkgs/main/win-64/python-3.6.5-h0c2934d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/python-dateutil-2.7.2-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/python-editor-1.0.3-py36_0.tar.bz2
https://repo.continuum.io/pkgs/main/win-64/setuptools-39.0.1-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/six-1.11.0-py36_1.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/sqlalchemy-1.2.5-py36_0.tar.bz2
https://repo.continuum.io/pkgs/main/win-64/vc-14-h0510ff6_3.tar.bz2
https://repo.continuum.io/pkgs/main/win-64/vs2015_runtime-14.0.25123-3.tar.bz2
https://repo.continuum.io/pkgs/main/win-64/werkzeug-0.14.1-py36_0.tar.bz2
https://repo.continuum.io/pkgs/main/win-64/wheel-0.30.0-py36h6c3ec14_1.tar.bz2
https://repo.continuum.io/pkgs/main/win-64/wincertstore-0.2-py36h7fe50ca_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-64/wtforms-2.1-py36_0.tar.bz2
